
---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCIE = [
  {
    date: "Apr 2023 - Present",
    title: "Big Data Engineer",
    company: "Teladoc Health",
    description:
      `Building a cloud native Big Data Analytics pipeline able to process up to 10 million records a day.
      Main components:
        * Provision multi-environment Azure and Databricks resources through Infrastructure as Code (IaC).
        * ETL pipeline built on top of Azure Data Factory, Azure Data Lake Storage Gen2, Databricks (PySpark), MySQL and FastAPI.
        * CI/CD pipeline with GitHub Actions and Jenkins.
        * Data orchestrations with Apache Airflow.
      `,
  },
  {
    date: "Sep 2020 - Apr 2023",
    title: "Software Engineer",
    company: "Made Of Genes",
    description:
      `Collaborated on multidisciplinary tasks within bioinformatics and IT teams of the company:
        * Genetic and biochemical data integration through ETL pipelines developed with Python.
        * REST APIs (with Flask and NodeJS) development to support data integration workflows.
        * Data modelling for SQL and NoSQL.
        * Full stack web development with MEAN stack.
        * Infrastructure as Code management with AWS, Terraform, Kubernetes and Kafka.
        * Unit, integrity and end-to-end tests (Jest and Pytest).
      `,
  },
  {
    date: "Jan 2021 - May 2021",
    title: "Research Student",
    company: "Barcelona Supercomputing Center",
    description:
      `Developed my final thesis titled “Machine Learning to predict protein function based on co-evolutionary information”, 
      awarded with "with Honours" mention for both Computer Science and Biotechnology degree
      `,
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
