---
import SunHigh from "./icons/SunHigh.astro"
import SunFilled from "./icons/SunFilled.astro"

---

<div class="relative ml-1 mr-1 flex mx-auto">
  <input
    type="checkbox"
    id="theme-toggle-btn"
    class="sr-only"
  />
  <label
    for="theme-toggle-btn"
    class="flex items-center cursor-pointer"
  >
    <SunFilled class="dark:hidden size-8 transition-all" />
    <SunHigh class="hidden dark:block size-8 transition-all"/>
  </label>
</div>

<script is:inline>
  const systemColorScheme = window.matchMedia("(prefers-color-scheme: dark)").matches
    ? "dark"
    : "light"

  const updateTheme = (themePreference) => {
    localStorage.setItem("theme", themePreference)
    document.documentElement.classList[themePreference === "dark" ? "add" : "remove"]("dark")
  }

  updateTheme(localStorage.getItem("theme") || systemColorScheme)


  document.getElementById("theme-toggle-btn").addEventListener("change", (e) => {
    const themePreference = e.target.checked ? "dark" : "light"
    updateTheme(themePreference)
  })
</script>